- @songs.each do |song|
  .song-list-item
    .song-list-names
      .song-list-title
        = song.title
      .song-list-artist
        = song.artist
    .song-list-data
      .song-feedbacks
        .feedbacks-label= "ratings: " + song.feedbacks.to_s
        .comments-label= "comments: 0"
      .song-overall
        .overall-label
        .graph
          .bar
            - @bar = 20-(song.overall*4)
            .indicator{:style => "height: "+@bar.to_s+";"}
          .number
            = song.overall
