.all-songs-container
  .pick-song
    .title Choose a song:
    - @songs.each do |song|
      .pick-song-item{:id => "statsheet_"+song.id.to_s}= song.title
  - @songs.each do |song|
    .my-songs-container{:class => "statsheet_"+song.id.to_s}
      .song-list-category
        .song-title= song.title
        .song-artist= song.artist
        - @song_ids << song.id
      .top-graph
        .total-ratings-label= "ratings: " + song.reviews.to_s
        .key
          .score
            .box
            your score
          .average
            .box
            site average
      .song-item
        .ratings

          .graph
            .bar1
              .indicator1{:style => "height: "+(300-(song.vocals*60)).to_s+";"}
            .bar2
              .indicator2{:style => "height: "+(300-(@vocals*60)).to_s+";"}
            .bar1
              .indicator1{:style => "height: "+(300-(song.songwriting*60)).to_s+";"}
            .bar2
              .indicator2{:style => "height: "+(300-(@songwriting*60)).to_s+";"}
            .bar1
              .indicator1{:style => "height: "+(300-(song.musicianship*60)).to_s+";"}
            .bar2
              .indicator2{:style => "height: "+(300-(@musicianship*60)).to_s+";"}
            .bar1
              .indicator1{:style => "height: "+(300-(song.creativity*60)).to_s+";"}
            .bar2
              .indicator2{:style => "height: "+(300-(@creativity*60)).to_s+";"}
            .bar1
              .indicator1{:style => "height: "+(300-(song.production*60)).to_s+";"}
            .bar2
              .indicator2{:style => "height: "+(300-(@production*60)).to_s+";"}
            .bar1
              .indicator1{:style => "height: "+(300-(song.overall*60)).to_s+";"}
            .bar2
              .indicator2{:style => "height: "+(300-(@overall*60)).to_s+";"}

          .graph-labels
            .graph-label= "vocals"
            .graph-label= "songwriting"
            .graph-label= "musicianship"
            .graph-label= "creativity"
            .graph-label= "production"
            .graph-label= "overall"

