- @top.each_with_index do |song, index|
  .song-item
    .song-list-item{:id => song.id, :songTitle => song.title, :artist => song.artist, :desc => song.description, :loc => song.audio.url}
      .song-list-play-button-container
        .song-list-index= index+1
        .song-list-play-button
      .song-list-names
        .song-list-title
          = song.title
        .song-list-artist
          = song.artist
      .song-list-data
        .song-feedbacks
          .feedbacks-label= "ratings: " + song.feedbacks.to_s
          .comments-label= "comments: 0"
        .song-overall
          .overall-label
          .graph
            .bar
              - @bar = 20-(song.overall*4)
              .indicator{:style => "height: "+@bar.to_s+";"}
            .number
              = song.overall
      .stats-button view stats and comments
