.current-song-stats-container
  .song-list-category
    .song-title= @current_song["title"]
    .song-artist= @current_song["artist"]
  .top-graph
    .total-ratings-label= "ratings: " + @current_song["reviews"].to_s
    .key
      .score
        .box
        song score
      .average
        .box
        site average
  .song-item
    .ratings

      .graph
        .bar1
          .indicator1{:style => "height: "+(100-(@current_song["vocals"]*20)).to_s+";"}
        .bar2
          .indicator2{:style => "height: "+(100-(@vocals*20)).to_s+";"}
        .bar1
          .indicator1{:style => "height: "+(100-(@current_song["songwriting"]*20)).to_s+";"}
        .bar2
          .indicator2{:style => "height: "+(100-(@songwriting*20)).to_s+";"}
        .bar1
          .indicator1{:style => "height: "+(100-(@current_song["musicianship"]*20)).to_s+";"}
        .bar2
          .indicator2{:style => "height: "+(100-(@musicianship*20)).to_s+";"}
        .bar1
          .indicator1{:style => "height: "+(100-(@current_song["creativity"]*20)).to_s+";"}
        .bar2
          .indicator2{:style => "height: "+(100-(@creativity*20)).to_s+";"}
        .bar1
          .indicator1{:style => "height: "+(100-(@current_song["production"]*20)).to_s+";"}
        .bar2
          .indicator2{:style => "height: "+(100-(@production*20)).to_s+";"}
        .bar1
          .indicator1{:style => "height: "+(100-(@current_song["overall"]*20)).to_s+";"}
        .bar2
          .indicator2{:style => "height: "+(100-(@overall*20)).to_s+";"}

      .graph-labels
        .graph-label= "vocals"
        .graph-label= "songwriting"
        .graph-label= "musicianship"
        .graph-label= "creativity"
        .graph-label= "production"
        .graph-label= "overall"
  - Rails.logger.info(@current_song.comments)
  - Rails.logger.info(@current_song.comments.size)
  - Rails.logger.info("__________________________________")
  -if @current_song.comments.size > 0
    .comments-title Comments
  -@current_song.comments.each do |comment|
    .song-comments

      .commenter-container
        .commenter-username=comment.user.username
        .commenter-critic
          #critique-scale-container
            -if comment.user.harsh <= 1
              #csb1.critique-scale-box
              #csb2.critique-scale-box
              #csb3.critique-scale-box
              #csb4.critique-scale-box
              #csb5.critique-scale-box
              .critique-scale-box
              .critique-scale-box
              .critique-scale-box
              .critique-scale-box
              .critique-scale-box
            -else
              -if comment.user.harsh <= 2
                .critique-scale-box
                #csb2.critique-scale-box
                #csb3.critique-scale-box
                #csb4.critique-scale-box
                #csb5.critique-scale-box
                .critique-scale-box
                .critique-scale-box
                .critique-scale-box
                .critique-scale-box
                .critique-scale-box
              -else
                -if comment.user.harsh <= 3
                  .critique-scale-box
                  .critique-scale-box
                  #csb3.critique-scale-box
                  #csb4.critique-scale-box
                  #csb5.critique-scale-box
                  .critique-scale-box
                  .critique-scale-box
                  .critique-scale-box
                  .critique-scale-box
                  .critique-scale-box
                -else
                  -if comment.user.harsh <= 4
                    .critique-scale-box
                    .critique-scale-box
                    .critique-scale-box
                    #csb4.critique-scale-box
                    #csb5.critique-scale-box
                    .critique-scale-box
                    .critique-scale-box
                    .critique-scale-box
                    .critique-scale-box
                    .critique-scale-box
                  -else
                    -if comment.user.harsh <= 5
                      .critique-scale-box
                      .critique-scale-box
                      .critique-scale-box
                      .critique-scale-box
                      #csb5.critique-scale-box
                      .critique-scale-box
                      .critique-scale-box
                      .critique-scale-box
                      .critique-scale-box
                      .critique-scale-box
                    -else
                      -if comment.user.harsh <= 6
                        .critique-scale-box
                        .critique-scale-box
                        .critique-scale-box
                        .critique-scale-box
                        .critique-scale-box
                        #csb6.critique-scale-box
                        .critique-scale-box
                        .critique-scale-box
                        .critique-scale-box
                        .critique-scale-box
                      -else
                        -if comment.user.harsh <= 7
                          .critique-scale-box
                          .critique-scale-box
                          .critique-scale-box
                          .critique-scale-box
                          .critique-scale-box
                          #csb6.critique-scale-box
                          #csb7.critique-scale-box
                          .critique-scale-box
                          .critique-scale-box
                          .critique-scale-box
                        -else
                          -if comment.user.harsh <= 8
                            .critique-scale-box
                            .critique-scale-box
                            .critique-scale-box
                            .critique-scale-box
                            .critique-scale-box
                            #csb6.critique-scale-box
                            #csb7.critique-scale-box
                            #csb8.critique-scale-box
                            .critique-scale-box
                            .critique-scale-box
                          -else
                            -if comment.user.harsh <= 9
                              .critique-scale-box
                              .critique-scale-box
                              .critique-scale-box
                              .critique-scale-box
                              .critique-scale-box
                              #csb6.critique-scale-box
                              #csb7.critique-scale-box
                              #csb8.critique-scale-box
                              #csb9.critique-scale-box
                              .critique-scale-box
                            -else
                              .critique-scale-box
                              .critique-scale-box
                              .critique-scale-box
                              .critique-scale-box
                              .critique-scale-box
                              #csb6.critique-scale-box
                              #csb7.critique-scale-box
                              #csb8.critique-scale-box
                              #csb9.critique-scale-box
                              #csb10.critique-scale-box
        .commenter-feedback-score
          score: #{comment.user.score} |
      .comment-container
        .comment=comment.comment
      .commenter-comment-date=comment.created_at