%html{html_attrs}
  %head
    %title Songfeedback
    = stylesheet_link_tag :all, :cache => true
    = javascript_include_tag :all, :cache => true, :recursive => true
    = csrf_meta_tag
  %body
    #darkener
    #darkener-click
    #banner
    #container
      #header
        #menu
          - if @not_logged != true
            #menu-songs
              .songs Songs
              .arrow
              #menu-songs-list
                %ul
                  %li
                    %a.first.ajax{:href => "/songs/recent"} Recent
                  %li
                    %a.ajax{:href => "/songs/least_rated"} Least Rated
                  %li
                    %a.ajax{:href => "/songs/top"} Top Rated
                  %li
                    %a.last.ajax{:href => "/songs/genre"} By Genre
            #menu-myfeedback
              .myfeedback My Feedback
              .arrow
              #menu-myfeedback-list
                %ul
                  %li
                    %a.first.ajax{:href => "/myfeedback/mysongs"} My Songs
                  %li
                    %a.ajax{:href => "/myfeedback/upload"} Upload Songs
                  %li
                    #user-stat-container.last
                      .menu-stat
                        Feedback Score: 180
                      .menu-stat
                        Level: Rockstar | Strictness: Harsh
                      .menu-stat
                        Uploads:
                        =@user_info["uploads"]
                        Available: 2
            #menu-myaccount
              .arrow
              .myaccount
                = @username

              #menu-myaccount-list
                %ul
                  %li
                    %a.last.ajax{:href => "/authentication/logout"} Sign Out
        #player
          #player-header
          #player-title
            %p
          #player-artist
            %p
          #player-description
            %p

          #jquery_jplayer_1.jp-jplayer
          .jp-audio
            #jp_interface_1.jp-interface
              .jp-controls
                #player-controls
                  #player-volume
                  #play-pause-control
                    #play-button
                    #pause-button
              .jp-volume-bar
                .jp-volume-bar-value

              #player-time
                #progress-bar.jp-progress
                  #progress.jp-play-bar

              #current-time.jp-current-time
              #slash /
              #total-time.jp-duration


          .player-divider
          #feedback-frame
            #feedback-form
              #vocals.feedback-row
                .star-frame
                  #vocal-star1.star
                  #vocal-star2.star
                  #vocal-star3.star
                  #vocal-star4.star
                  #vocal-star5.star
                .category vocals
              #songwriting.feedback-row
                .star-frame
                  #songwriting-star1.star
                  #songwriting-star2.star
                  #songwriting-star3.star
                  #songwriting-star4.star
                  #songwriting-star5.star
                .category songwriting
              #musicianship.feedback-row
                .star-frame
                  #musicianship-star1.star
                  #musicianship-star2.star
                  #musicianship-star3.star
                  #musicianship-star4.star
                  #musicianship-star5.star
                .category musicianship
              #creativity.feedback-row
                .star-frame
                  #creativity-star1.star
                  #creativity-star2.star
                  #creativity-star3.star
                  #creativity-star4.star
                  #creativity-star5.star
                .category creativity
              #production.feedback-row
                .star-frame
                  #production-star1.star
                  #production-star2.star
                  #production-star3.star
                  #production-star4.star
                  #production-star5.star
                .category production
              #overall.feedback-row
                .star-frame
                  #overall-star1.star
                  #overall-star2.star
                  #overall-star3.star
                  #overall-star4.star
                  #overall-star5.star
                .category overall
              %textarea#comment-box{:placeholder => "Your comments here", :name => "comments"}
              #feedback-submit Submit Feedback
      #main-section-frame
        = yield
      #footer

      #duplicate-review
        .modal-popup
          #message
            You have already reviewed this song. Do you want to override your previous review?
          #yes Override
          #no Cancel

      #review-submitted
        .modal-popup
          #message
            Thank you for submitted your feedback for
            %span#song-just-reviewed this song.
            %br
            %br Would you like to see what other people have said about this song?
          #yes View Stats/Comments
          #no No Thanks

      #current-song-stats
        .modal-popup-stats
          #no
          #current-song-stats-show No stats. An error occurred...
          #yes Add Comment

      #error-message
        .modal-popup
          #error-message-text Error
          #no Okay

